@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;600;700&family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

body {
    max-width: 100%;
    box-sizing: border-box;
    background-color: black;
}

a {
    text-decoration: none;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFFFFF;

}

button:hover {
    cursor: pointer;
}

li {
    list-style-type: none;
    color: #FFFFFF;
}

nav {
    display: flex;
    flex-direction: row;
    font-family: ' Open Sans', sans-serif;
}

header {
    height: 7.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: 'Cormorant Upright';
    font-size: 50px;
    font-weight: 700;
    line-height: 3.5625rem;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    margin-left: 5rem;
    margin-top: 2.125rem;
    margin-bottom: 2rem;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: ' Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.main-items {
    margin-right: 3.125rem;
}

.main-items li a {
    padding: 0rem 0.625rem;
}

.logreg {
    margin-right: 3.125rem;
}

.logreg li {
    padding: 0rem 1.25rem 0rem 1.25rem;
}

.menu {
    display: none;
}

.menuitems {
    display: none;
}

.Hero {
    display: flex;
    width: 45%;
    height: auto;
    margin-left: 18%;
    margin-top: 6.25rem;
}

.content h2 {
    color: #DCCA87;
    font-family: 'Cormorant Upright';
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.04em;
    width: 15.625rem;
}

.content p {
    font-family: 'Open Sans';
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.04em;
    width: 20rem;
    text-align: left;

}

#btn-content {
    background: #DCCA87;
    width: 9.8125rem;
    height: 2.75rem;
    padding: 0.5rem 2rem;
}

.content-img img {
    width: 25rem;
    height: 28.125rem;
    margin-left: 3.125rem;
}

.slider {
    margin-top: 2.5rem;
    margin-left: 34.375rem;
}

.slider img {
    margin-bottom: 0.3125rem;
}

.slider span {
    color: #F5EFDB;
}

.scroll {
    margin-left: 70rem;
    margin-top: -5.625rem;
}

.scroll p {
    color: #DCCA87;
    font-family: 'Cormorant Upright';
    font-size: 1.25rem;
    margin-left: -1.25rem;
    margin-top: -0.125rem;
}

.hashtags {
    margin-left: -56.25rem;
    margin-top: 43.75rem;
    display: flex;
    flex-direction: row-reverse;
    transform: rotate(-90deg);
}

.hashtags p {
    padding: 0.625rem 0.625rem;
}

.about {
    display: flex;
    margin-top: -43.75rem;
    align-items: center;
    width: 100%;
    height: 37.5rem;
    background-image: url(./images/BG.png);
    background-color: #0C0C0C;
    background-repeat: no-repeat;
    background-position: center;
}

.about-us {
    text-align: right;
    margin-left: 18.75rem;
    margin-top: -3.125rem;
    position: relative;
    left: 0.125rem;
}

.about-us p {
    font-family: 'Open Sans';
    font-size: 0.625rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: right;
    width: 15.625rem;
}

.about-us h5,
.our-history h5 {
    font-family: 'Cormorant Upright';
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #DCCA87;
    margin-bottom: -0.125rem;
}

#abtus-btn,
#ourhist-btn {
    width: 8.8125rem;
    height: 2.75rem;
    padding: 0.5rem 2rem;
    background: #DCCA87;
}

#knife {
    width: 3.125rem;
    height: 25rem;
    margin-left: -7.375rem;
}

#g {
    margin-left: -3.125rem;
}

.our-history {
    margin-top: -3.125rem;
    text-align: left;
    margin-left: 2.125rem;
}

.our-history p {
    font-family: 'Open Sans';
    font-size: 0.625rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: left;
    width: 15.625rem;
}

.Drinkmenu {
    margin-top: 6.25rem;
}

.Drinkmenu h5 {
    font-family: 'Cormorant Upright';
    font-size: 1.4375rem;
    font-weight: 700;
    line-height: 1.875rem;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 0.625rem;
}

#menusvg {
    margin-left: 37.5rem;
}

.Drinkmenu h2 {
    font-family: 'Cormorant Upright';
    font-size: 2rem;
    font-weight: 600;
    line-height: 5.1875rem;
    letter-spacing: 0.04em;
    text-align: center;
    color: #DCCA87;
    margin-top: -1.25rem;
}

.Drinkmenu h3 {
    font-family: 'Cormorant Upright';
    font-size: 1.4375rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: left;

}

#centerimg {
    margin-top: -22.8125rem;
    width: 12.5rem;
    height: 21.875rem;
    margin-left: 25rem;
    margin-bottom: 2.5rem;
}

.drinks {
    display: flex;
    justify-content: center;
}

.winebeer h3,
.cocktail-items h3 {
    margin-left: 6.25rem;
}

.winebeer li,
.cocktail-items li {
    color: #DCCA87;
    font-family: 'Cormorant Upright';
}

.winebeer svg {
    margin-left: 9.375rem;
    margin-top: -2.5rem;
    margin-bottom: 1.25rem;
}

.winebeer h6 {
    font-size: 1rem;
    margin-left: 18.75rem;
    margin-top: -2.1875rem;
}

.winebeer p {
    margin-top: -1.25rem;
    color: #AAAAAA;
}

.cocktail-items li {
    color: #DCCA87;
    font-family: 'Cormorant Upright';
}

.cocktail-items svg {
    margin-left: 7.5rem;
    margin-top: -2.5rem;
    margin-bottom: 1.25rem;
}

.cocktail-items h6 {
    margin-left: 15.625rem;
    margin-top: -2.1875rem;
    font-size: 1rem;
}

.cocktail-items p {
    margin-top: -1.25rem;
    color: #AAAAAA;
}

.Drinkmenu button {
    width: 8.5rem;
    height: 2.75rem;
    padding: 0.5rem 2rem;
    margin-left: 36.875rem;
    background: #DCCA87;
    color: #000000;
}

.chef {
    margin-top: 12.5rem;
    background-image: url(./images/BG.png);
    background-color: #0C0C0C;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}

.chef img {
    margin-left: 15%;
    width: 25rem;
    height: 31.25rem;
    margin-top: 3.125rem;
}

.the-chef {
    margin-left: 55%;
    margin-top: -40%;
}

.the-chef h2 {
    font-family: 'Cormorant Upright';
    font-size: 2rem;
    font-weight: 600;
    line-height: 5.1875rem;
    letter-spacing: 0.03em;
    text-align: left;
    color: #DCCA87;
}

.the-chef h6 {
    font-family: 'Cormorant Upright';
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: -2.5rem;
}

#chef-spoon {
    margin-bottom: -2.5rem;
}

.the-chef p {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.04em;
    text-align: left;
    width: 31.25rem;
    color: #AAAAAA;
}

.the-chef h5 {
    font-family: 'Cormorant Upright';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.625rem;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: -0.635rem;
    color: #DCCA87;
}

.the-chef span {
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.04em;
    text-align: left;
    color: #AAAAAA;
    margin-bottom: -10px;
}

#signature {
    font-family: 'Bestermind';
    font-size: 2rem;
    font-weight: 400;
    line-height: 5.1875rem;
    letter-spacing: 0.04em;
    text-align: left;
    color: #AAAAAA;
}

.video {
    width: 100%;
    height: 37.5rem;
}

#background {
    width: 100%;
}

.awd {
    background-image: url(./images/BG.png);
    background-color: #0C0C0C;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    margin-top: -5.9375rem;
}

.awards {
    margin-left: 12.5rem;
}

.double-spoon img {
    margin-left: -9.375rem;
    margin-top: 3.125rem;
    width: 6.25rem;
    height: 6.25rem;
}

.awards ul {
    display: flex;
    margin-top: 3.125rem;
    margin-left: -3.125rem;
}

.awards ul img {
    width: 3.125rem;
    height: 3.125rem;
}

.award-recognition h5 {
    font-family: 'Cormorant Upright';
    margin-bottom: 0.3125rem;
}

.award-recognition h2 {
    font-family: 'Cormorant Upright';
    font-size: 2rem;
    font-weight: 600;
    color: #DCCA87;
}

.awards ul h5 {
    color: #DCCA87;
    margin-left: 1.25rem;
    margin-top: -0.3125rem;
    margin-bottom: 0.3125rem;
}

.awards ul p {
    color: #AAAAAA;
    width: 9.375rem;
    margin-left: 1.25rem;
}

.aside-img img {
    width: 21.875rem;
    height: 30rem;
    margin-left: 34.375rem;
    margin-top: -28.125rem;
}

.photo-gallery {
    display: flex;
    margin-top: 1.25rem;
}

.gallery-writeup {
    margin-left: 6.25rem;
}

.gallery-writeup h5,
.contact h5 {
    margin-top: 3.75rem;
    margin-bottom: 0.3125rem;
    font-family: 'Cormorant Upright';
}

.gallery-writeup h2,
.contact h2 {
    font-family: 'Cormorant Upright';
    font-size: 2rem;
    font-weight: 600;
    line-height: 5.1875rem;
    letter-spacing: 0.03em;
    color: #DCCA87;
    margin-bottom: -0.625rem;
    margin-top: -0.625rem;
}

.gallery-writeup p {
    width: 25rem;
    color: #AAAAAA;
    font-family: 'Open Sans';
}

#btn-gallery,
#contact-btn {
    width: 8.5rem;
    height: 2.75rem;
    padding: 0.5rem 2rem;
    border: 0.0625rem;
    background: #DCCA87;
}

.gallery {
    margin-left: 0.9375rem;
}

.gallery img {
    width: 11.25rem;
    height: 21.875rem;
}

.contact {
    display: flex;
    background-image: url(./images/BG.png);
    background-color: #0C0C0C;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    /* height: 37.5rem; */
    height: auto;
    position: relative;
    z-index: 1;
}

.contact-writeup {
    margin-left: 12.5rem;
    margin-top: 3.125rem;
}

.contact-img img {
    width: 25rem;
    height: 31.25rem;
    margin-left: 3.125rem;
    margin-top: 3.125rem;
}

.contact p {
    width: 28.125rem;
    color: #AAAAAA;
    font-family: 'Open Sans';
}

.contact-writeup span {
    display: inline-block;
    color: #DCCA87;
}

.contact-writeup ul li {
    color: #AAAAAA;
    margin-left: -2.5rem;
}

footer {
    position: relative;
    height: auto;
    width: 100%;
}

.newsletter {
    background: linear-gradient(0deg, #0C0C0C, #0C0C0C),
        linear-gradient(0deg, rgba(220, 202, 135, 0.2), rgba(220, 202, 135, 0.2));
    border: 1px solid #DCCA8733;
    width: 65%;
    margin-left: 15.625rem;
    height: 21.875rem;
    text-align: center;
    position: absolute;
}

.newsletter h6 {
    font-family: 'Cormorant Upright';
    margin-bottom: -0.625rem;
    margin-top: 2.5rem;
}

.newsletter svg {
    margin-bottom: -1.25rem;
}

.newsletter h1 {
    font-family: 'Cormorant Upright';
    font-size: 2rem;
    font-weight: 600;
    line-height: 5.1875rem;
    letter-spacing: 0.03em;
    color: #DCCA87;
    margin-bottom: 5px;
}

.newsletter p {
    font-family: 'Open Sans';
    font-weight: 400;
    margin-bottom: 1.5625rem;
}

.newsletter input {
    /* width: 21.875rem; */
    width: 70%;
    height: 2rem;
    color: #DCCA87;
    outline: 1px solid #DCCA87;
    background: #0C0C0C;
}

.newsletter input::placeholder {
    color: #AAAAAA;
    font-family: 'Cormorant Upright';
}

.newsletter button {
    width: 7.1875rem;
    height: 2.5rem;
    padding: 0.5rem 2rem;
    background: #DCCA87;
    margin-left: 1.25rem;
}

.footer-slider {
    margin-left: 92%;
    margin-top: -1.875rem;
    position: relative;
    top: 15.625rem;
}

.footer-slider p {
    margin-left: -0.625rem;
    color: #DCCA87;
    font-family: 'Cormorant Upright';
}

.footer-items {
    background-image: url(./images/BG.png);
    background-color: #0C0C0C;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    margin-top: 6.25rem;
}

.contact-us {
    margin-top: 16.125rem;
    margin-left: 6.5rem;
}

.contact-us p {
    width: 21.875rem;
}

.contact-us h4,
.working-hours h4 {
    color: #F5EFDB;
    font-family: 'Cormorant Upright';
    text-align: center;
}

.contact-us li,
.contact-us p,
.working-hours li,
.socials p {
    color: #AAAAAA;
    font-family: 'Open Sans';
    text-align: center;
}

.working-hours {
    margin-top: 15.625rem;
}

.socials {
    text-align: center;
    margin-top: 13.125rem;
}

.socials h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #DCCA87;
    font-family: 'Cormorant Upright';
    text-align: center;
    margin-bottom: -0.625rem;
}

.socials ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2.5rem;

}

.socials li {
    padding: 0rem 0.625rem;
}

.working-hours h4 {
    margin-left: 2.5rem;
    margin-top: 1.875rem;
}

.working-hours li {
    width: 18.875rem;
    padding: 0.3125rem 0.625rem;
}

#last {
    margin-top: 3.125rem;
    color: #AAAAAA;
    font-size: 1rem;
    margin-left: -20.625rem;
}

@media screen and (max-width:567px) {
    .desktopnav {
        display: none;
    }

    .menu {
        display: flex;
        margin-top: 1.2rem;
        margin-left: -6.25rem;
    }

    .menu:hover {
        cursor: pointer;
    }

    .menuitems {
        width: 8rem;
        display: none;
        flex-direction: column;
        margin-top: 16rem;
    }

    .menuitems:hover {
        cursor: pointer;
    }

    .menuitems li {
        border: 2px solid #AAAAAA;
        width: 100%;
        background-color: #0C0C0C;
    }

    .close-icon {
        display: block;
    }

    header h1 {
        margin-left: 0rem;
    }

    .Hero {
        flex-direction: column;
        margin-top: 2.0rem;
    }

    .content h2 {
        font-size: 1.5rem;
        width: 75%;
    }

    .content p {
        width: 15.625rem;
        font-size: .7rem;
    }

    .content-img img {
        margin-top: 3rem;
        margin-left: -4rem;
        width: 20rem;
        height: 24rem;
    }

    .slider {
        margin-left: 2rem;
    }

    .scroll {
        margin-left: 20rem;
    }

    .hastags {
        margin-top: 0rem;
        margin-left: -20rem;
        margin-top: -30rem;
    }

    .about {
        margin-top: 28rem;
        /* margin-left: -18.75rem; */
        flex-direction: column;
    }

    .about-us,
    .our-history {
        width: 20%;
        margin-left: -5rem;
    }

    .about-us h5 {
        width: 15rem;
        margin-left: -5rem;
    }

    .our-history h5 {
        width: 15rem;
        margin-left: -2rem;
    }

    .about-us p,
    .our-history p {
        width: 12.25rem;
        margin-left: -1.5rem;
        text-align: center;
    }

    .our-history svg {
        margin-left: 3rem;
    }

    #knife {
        margin-left: -2.5rem;
        height: 15.625rem;
        width: 2.125rem;
        margin-top: -13.5rem;
    }

    #g {
        margin-top: 2rem;
    }

    #menusvg {
        margin-left: 10rem;
    }

    .drinks {
        flex-direction: column;
    }

    #centerimg {
        margin-top: 0rem;
        margin-left: 5rem;
    }

    .Drinkmenu button {
        margin-left: 6rem;
    }

    .drinks {
        margin-left: -2rem;
    }

    .chef {
        margin-top: 6.25rem;
        width: 100%;
    }

    .chef img {
        width: 18.75rem;
        height: 25rem;
        margin-left: 1.5rem;
    }

    .the-chef {
        margin-top: 5rem;
        margin-left: 0rem;
        text-align: center;
    }

    .the-chef h2 {
        text-align: center;
    }

    .the-chef h6 {
        text-align: center;
    }

    .the-chef p {
        width: 18.75rem;
    }

    .the-chef h5 {
        text-align: center;
    }

    #signature {
        text-align: center;
    }

    .the-chef p {
        margin-left: 2rem;
        text-align: center;
    }

    .awd {
        margin-top: -30rem;
    }

    .award-recognition {
        text-align: center;
        margin-left: -10rem;
    }

    .awards ul {
        flex-direction: column;
        margin-left: -10rem;
    }

    .awards ul h5 {
        margin-top: 1rem;
    }

    #fifth {
        margin-top: -3rem;
    }

    .aside-img img {
        width: 15.625rem;
        height: 17.5rem;
        margin-top: 0rem;
        margin-left: 0rem;
        margin-left: -12rem;
    }

    .photo-gallery {
        flex-direction: column;
    }

    .gallery-writeup {
        text-align: center;
        margin-left: 0rem;
    }

    .gallery-writeup p {
        width: 20rem;
        margin-left: 1.5rem;
    }

    .gallery {
        margin-left: 0rem;
        margin-top: 2rem
    }

    .gallery img {
        width: 16.625rem;
        margin-left: 2.5rem;
    }

    .contact {
        flex-direction: column;
        width: 90%;
    }

    .contact-writeup {
        margin-left: 0rem;
        text-align: center;
    }

    .contact-img img {
        width: 18.75rem;
        height: 25rem;
        margin-left: -0.09rem;
    }

    .contact p {
        width: 18.75rem;
        margin-left: 1.3rem;
    }

    .newsletter {
        margin-left: 2rem;
        width: 80%;
    }

    .newsletter h1 {
        font-size: 1.25rem;
    }

    .newsletter button {
        margin-top: 1rem;
        margin-left: -1rem;
    }

    .footer-items {
        flex-direction: column;
    }

    .contact-us {
        margin-left: 0rem;
    }

    .contact-us li {
        margin-left: -2rem;
    }

    .socials {
        margin-top: 2rem;
    }

    .working-hours {
        margin-top: 2rem;
    }

    .working-hours h4 {
        font-size: 1.2rem;
        margin-left: -0.5rem;
    }

    .working-hours li {
        margin-left: -1rem;
    }

    .working-hours li {
        margin-left: -1.0rem;
    }

    #last {
        margin-top: 2rem;
        margin-left: 3.0rem;
    }
}